.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: transparent; }

.header{
  display: flex;
  flex-direction: column;
  background-image: url("img/cafe.jpg");
  background-size: cover;
  height: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.md-display-4 {
  font-size: 100px;
  }

@media (max-width: 480px) {
  .md-display-4 {
  font-size: 60px;
  }
}